html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.about__p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400px;
  color: #4C4C4C;
  font-size: 1.5em;
  line-height: 24px;
  font-style: normal;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400px;
  color: #CDCDCD;
  font-size: 1.5em;
  line-height: 24px;
  font-style: normal;
}

.donation-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400px;
  color: #B2B2B2;
  font-size: 1.2em;
  line-height: 18px;
  font-style: italic;
}

@media (max-width: 768px) {
  .start-screen_text {
    padding: 45px 0;
    margin: 0;
  }
}
@media (max-width: 360px) {
  .start-screen_text {
    max-width: 300px;
    margin: 0 auto;
    padding: 45px 0;
  }
}
@media (max-width: 360px) {
  .donation-description {
    text-align: justify;
    margin: 20px 0;
  }
}
.pet-name {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400px;
  font-size: 2em;
  color: #545454;
  margin: 30px 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.2em;
  color: #F1CDB3;
  letter-spacing: 6%;
}

.logo_subtitle {
  padding-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3em;
  color: #F1CDB3;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.4em;
  color: #FFFFFF;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5em;
  color: #545454;
}

.contacts {
  color: #FFFFFF;
}

h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  line-height: 23px;
  color: #545454;
  padding: 0;
  margin: 0;
}

.contacts__content {
  color: #F1CDB3;
  padding-left: 20px;
}

h5 {
  margin: 20px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  color: #545454;
}

button {
  border: none;
  border-radius: 100px;
  color: #292929;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.7em;
  font-style: normal;
  font-weight: 400;
  line-height: 2.21em;
  background-color: #FAFAFA;
  border: 2px solid #F1CDB3;
  height: 52px;
  width: 187px;
  transition: all 0.5s ease;
  cursor: pointer;
}

button:hover {
  background-color: #FDDCC4;
  border: #FDDCC4;
}

.lets {
  background-color: #F1CDB3;
  border: none;
  width: 207px;
  height: 52px;
  transition: all 0.5s ease;
}
.lets a {
  text-decoration: none;
  transition: all 0.5s ease;
  color: #292929;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
}

.our-friends__rest {
  background-color: #F1CDB3;
  border: none;
  height: 52px;
  width: 261px;
}
.our-friends__rest a {
  text-decoration: none;
  color: #292929;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.slaider__left {
  width: 52px;
  z-index: 2;
}

.slaider__right {
  width: 52px;
  z-index: 2;
}

.modal__close {
  width: 52px;
  margin-left: -10px;
  background: none;
}
@media (max-width: 360px) {
  .modal__close {
    margin-left: -21px;
  }
}

.list {
  max-width: 1086px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 840px) {
  .list {
    display: flex;
    justify-content: space-between;
    max-width: 630px;
    height: 449px;
    margin-top: 60px;
  }
}
@media (max-width: 509px) {
  .list {
    height: 585px;
    max-width: 290px;
    margin-top: 12px;
    margin-bottom: 42px;
  }
}

.list__card {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  margin: 0 50px;
  padding: 58px 5px 0px 5px;
}
@media (max-width: 840px) {
  .list__card {
    display: block;
    width: 170px;
    margin: 0px;
    padding: 0;
  }
}
@media (max-width: 509px) {
  .list__card {
    display: block;
    max-width: 130px;
    height: 87px;
    margin-top: 30px;
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 509px) {
  .list__card h4 {
    font-size: 15px;
  }
}

.list__svg {
  height: 60px;
  margin-bottom: 30px;
}
@media (max-width: 509px) {
  .list__svg {
    height: 50px;
    width: 50px;
    margin: 0 auto 20px;
  }
}

.card {
  display: inline-block;
  text-align: center;
  background-color: #FAFAFA;
  height: 435px;
  transition: 1s;
  border-radius: 9px;
}
@media (max-width: 540px) {
  .card {
    margin: 0 auto;
  }
}
.card.card_show {
  opacity: 1;
}
.card button {
  margin-bottom: 30px;
}

.our-pets__cards {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 810px) {
  .our-pets__cards {
    max-width: 580px;
    height: 1365px;
  }
}
@media (max-width: 360px) {
  .our-pets__cards {
    max-width: 270px;
  }
}

.credit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 349px;
  top: 147px;
  border-radius: 9px;
  padding: 10px, 15px;
  background: #F1CDB3;
  margin-bottom: 20px;
}
@media (max-width: 393px) {
  .credit-card {
    max-width: 281px;
    margin: 0 auto;
  }
}
@media (max-width: 280px) {
  .credit-card {
    max-width: 260px;
    margin: 0 auto;
  }
}
.credit-card object {
  margin-right: 15px;
}

.slaider__cards {
  margin: 0 auto;
  height: 435px;
  max-width: 990px;
  overflow: hidden;
  background-color: #F6F6F6;
  z-index: 1;
}

@media (max-width: 1100px) {
  .slaider__cards {
    max-width: 580px;
  }
}
@media (max-width: 690px) {
  .slaider__cards {
    max-width: 270px;
  }
}
.slaider {
  max-width: 1200px;
  height: 435px;
  margin: 60px auto;
}
@media (max-width: 1100px) {
  .slaider {
    max-width: 708px;
    flex-direction: column;
    align-items: center;
    height: 437px;
    margin: 42px auto 60px;
  }
}
@media (max-width: 690px) {
  .slaider {
    height: 507px;
    margin: 42px auto;
  }
}

.slaider__scroll {
  margin: 0 auto;
  height: 435px;
  width: 2800px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -360px;
}
@media (max-width: 1100px) {
  .slaider__scroll {
    max-width: 2440px;
    left: -310px;
  }
}
@media (max-width: 690px) {
  .slaider__scroll {
    max-width: 2160px;
    left: -270px;
  }
}

.slaider__buttons {
  position: relative;
  bottom: 243px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
@media (max-width: 1100px) {
  .slaider__buttons {
    max-width: 708px;
  }
}
@media (max-width: 690px) {
  .slaider__buttons {
    margin: 20px auto 0;
    max-width: 184px;
    position: static;
    bottom: 0px;
  }
}

.modal-window {
  position: fixed;
  width: 952px;
  height: 552px;
  display: flex;
  z-index: 20;
  transition: 1s;
  opacity: 0;
  transform: translateY(-20px);
}
@media (max-width: 768px) {
  .modal-window {
    width: 682px;
    height: 402px;
  }
}
@media (max-width: 690px) {
  .modal-window {
    width: 271px;
    height: 393px;
  }
}
.modal-window.modal-window_show {
  opacity: 1;
  transform: translateY(0px);
}
.modal-window .modal {
  margin-top: 52px;
  width: 900px;
  height: 500px;
  border-radius: 9px;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .modal-window .modal {
    width: 630px;
    height: 350px;
    overflow-y: auto;
  }
}
@media (max-width: 690px) {
  .modal-window .modal {
    width: 240px;
    height: 341px;
    display: block;
    overflow-y: auto;
  }
}
@media (max-width: 786px) {
  .modal-window .modal img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 690px) {
  .modal-window .modal img {
    display: none;
  }
}
.modal-window .modal .modal__content {
  width: 350px;
  height: 362px;
  margin-top: 50px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .modal-window .modal .modal__content {
    width: 260px;
    height: 303px;
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 9px;
  }
}
@media (max-width: 690px) {
  .modal-window .modal .modal__content {
    width: 220px;
    height: 321px;
    text-align: center;
    margin: 0 auto;
  }
}
.modal-window .modal .modal__content h3 {
  color: black;
}
@media (max-width: 768px) {
  .modal-window .modal .modal__content h3 {
    font-size: 3.5em;
  }
}
@media (max-width: 690px) {
  .modal-window .modal .modal__content h3 {
    font-size: 3.5em;
    padding-top: 10px;
  }
}
.modal-window .modal .modal__content h4 {
  padding-top: 10px;
  color: black;
}
@media (max-width: 768px) {
  .modal-window .modal .modal__content h4 {
    font-size: 2em;
    padding-top: 10px;
  }
}
@media (max-width: 690px) {
  .modal-window .modal .modal__content h4 {
    font-size: 2em;
    padding-top: 10px;
  }
}
.modal-window .modal .modal__content h5 {
  margin: 0;
  padding-top: 40px;
  color: black;
}
@media (max-width: 768px) {
  .modal-window .modal .modal__content h5 {
    font-size: 1.3em;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 690px) {
  .modal-window .modal .modal__content h5 {
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 24px;
    text-align: justify;
  }
}
.modal-window .modal .modal__content .modal__content__list {
  padding-inline-start: 15px;
  margin-top: 40px;
  font-size: 1.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
}
.modal-window .modal .modal__content .modal__content__list ::marker {
  color: #F1CDB3;
  font-size: 14px;
}
.modal-window .modal .modal__content .modal__content__list li {
  padding: 5px 0;
}
@media (max-width: 690px) {
  .modal-window .modal .modal__content .modal__content__list li {
    margin-top: 0px;
    padding: 3px 0;
  }
}
@media (max-width: 768px) {
  .modal-window .modal .modal__content .modal__content__list {
    margin-top: 0px;
    padding-inline-start: 10px;
    text-align: start;
    margin-left: 3px;
  }
}
@media (max-width: 690px) {
  .modal-window .modal .modal__content .modal__content__list {
    margin-top: 0px;
    padding-inline-start: 10px;
    text-align: start;
    margin-left: 3px;
  }
}

.blackout {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 10;
}

.paginator {
  margin: 45px auto 100px;
  width: 340px;
  height: 52px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 360px) {
  .paginator {
    max-width: 300px;
    margin: 42px auto;
  }
}
@media (max-width: 280px) {
  .paginator {
    max-width: 270px;
    margin: 42px auto;
  }
}

.paginator__button {
  width: 52px;
}

.inactive {
  width: 52px;
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
  cursor: auto;
}
.inactive:hover {
  background: none;
  border: 2px solid #CDCDCD;
}

.burger {
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1s ease;
}
@media (min-width: 745px) {
  .burger {
    display: none;
  }
}

.active-burger {
  transform: rotate(-90deg);
}

.burger__line {
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
}

.burger__line_page2 {
  width: 30px;
  height: 2px;
  background-color: black;
}

.burger-menu {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  overflow: auto;
  background-color: #292929;
  transition: all 1s ease;
  opacity: 0;
  z-index: 20;
}
.burger-menu.burger-menu_show {
  opacity: 1;
  transform: translateX(-320px);
}
.burger-menu.burger-menu_hidden {
  display: none;
}
.burger-menu .header-content {
  margin-bottom: 0px;
}
@media (min-width: 745px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu__list {
  text-align: center;
  max-width: 243px;
  height: 327px;
  margin: 158px auto 0;
  padding-inline-start: 0;
}
.burger-menu__list li {
  margin-bottom: 43px;
  list-style: none;
}
.burger-menu__list li.active {
  border-bottom: solid 3px #F1CDB3;
}
.burger-menu__list li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400px;
  color: #FAFAFA;
  font-size: 3.2em;
  line-height: 160%;
  font-style: normal;
}

.blackout-burger {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(41, 41, 41, 0.6);
  transition: all 1s ease;
  opacity: 0;
  display: none;
}
.blackout-burger.blackout-burger_show {
  z-index: 10;
  opacity: 1;
  display: flex;
}

.start-background {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), linear-gradient(0deg, #211F20, #211F20);
}

.start-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 40px;
  padding-top: 60px;
}
@media (max-width: 1050px) {
  .start-screen img {
    max-width: 500px;
  }
}
@media (max-width: 1024px) {
  .start-screen {
    max-width: 944px;
  }
}
@media (max-width: 768px) {
  .start-screen {
    flex-direction: column;
    padding-top: 0px;
  }
  .start-screen img {
    max-width: 569px;
    bottom: 0px;
  }
}
@media (max-width: 580px) {
  .start-screen img {
    max-width: 400px;
    object-fit: contain;
  }
}
@media (max-width: 360px) {
  .start-screen {
    max-width: 300px;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .start-screen img {
    padding-left: 10px;
    width: 260px;
  }
}

.start-screen__content {
  width: 460px;
  padding-bottom: 100px;
}
@media (max-width: 480px) {
  .start-screen__content {
    max-width: 90%;
  }
}
@media (max-width: 360px) {
  .start-screen__content {
    margin-bottom: 105px;
    margin-top: 0px;
    padding: 0;
    height: 296px;
    max-width: 360px;
  }
  .start-screen__content h2 {
    font-size: 2.5em;
    line-height: 130%;
  }
  .start-screen__content p {
    font-size: 1.5em;
  }
}
@media (max-width: 280px) {
  .start-screen__content {
    max-width: 260px;
  }
}

.light-xl {
  background-color: #FFFFFF;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 850px;
  height: 408px;
  padding-top: 80px;
  padding-bottom: 100px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .about {
    flex-direction: column-reverse;
    max-width: 437px;
    height: 868px;
    margin: 0 auto;
  }
}
@media (max-width: 360px) {
  .about {
    flex-direction: column-reverse;
    max-width: 300px;
    max-height: 875px;
    margin: 0 auto;
    padding: 42px 0;
  }
  .about h3 {
    text-align: center;
  }
  .about p {
    text-align: justify;
  }
}
@media (max-width: 280px) {
  .about {
    max-width: 260px;
  }
  .about img {
    max-width: 260px;
  }
  .about h3 {
    padding-top: 42px;
  }
}

.about__text {
  max-width: 430px;
}
@media (max-width: 460px) {
  .about__text {
    max-width: 90%;
  }
}

.light-l {
  background-color: #F6F6F6;
}

.our-friends {
  max-width: 1200px;
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 360px) {
  .our-friends {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

@media (max-width: 380px) {
  h3 {
    font-size: 25px;
  }
}
.help-content {
  max-width: 1200px;
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 509px) {
  .help-content {
    margin-top: 42px;
    margin-bottom: 42px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 661px;
  }
}

.donation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 915px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .donation {
    flex-direction: column-reverse;
    max-width: 505px;
  }
}
@media (max-width: 360px) {
  .donation {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}
@media (max-width: 820px) {
  .donation img {
    max-width: 405px;
  }
}
@media (max-width: 480px) {
  .donation img {
    max-width: 90%;
  }
}
@media (max-width: 360px) {
  .donation img {
    width: 260px;
    height: 135.2px;
    margin-top: 22px;
  }
}

.donstion-content {
  width: 380px;
  float: left;
}
@media (max-width: 768px) {
  .donstion-content {
    margin-bottom: 60px;
  }
}
@media (max-width: 390px) {
  .donstion-content {
    max-width: 90%;
  }
}
@media (max-width: 393px) {
  .donstion-content {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .donstion-content h4 {
    font-size: 1.5em;
  }
}
@media (max-width: 280px) {
  .donstion-content {
    max-width: 260px;
  }
}

.our-pets {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
}

.our-pets__content {
  text-align: center;
  padding-top: 80px;
}
@media (max-width: 360px) {
  .our-pets__content {
    max-width: 300px;
    padding-top: 42px;
  }
}

footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), linear-gradient(0deg, #211F20, #211F20);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 40px;
  padding-top: 56px;
}
@media (max-width: 1024px) {
  .footer-content {
    max-width: 944px;
  }
}
@media (max-width: 930px) {
  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 708px;
    padding-top: 30px;
    margin: 0 auto;
  }
}
@media (max-width: 280px) {
  .footer-content img {
    max-width: 260px;
  }
}

.footer-content__contacts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 278px;
  height: 234px;
}
@media (max-width: 930px) {
  .footer-content__contacts {
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .footer-content__contacts {
    max-width: 278px;
    height: 208px;
    text-align: center;
  }
}

.footer-content__locations {
  width: 302px;
  height: 234px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 930px) {
  .footer-content__locations {
    padding-left: 60px;
  }
}
@media (max-width: 660px) {
  .footer-content__locations {
    padding-left: 0px;
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .footer-content__locations {
    text-align: center;
    max-width: 300px;
    height: 222px;
    margin-bottom: 40px;
    padding-left: 0px;
  }
}

.footer-content__data {
  display: flex;
}
.footer-content__data a {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.footer-content__data a span {
  display: inline-block;
}
.footer-content__data a span object {
  position: relative;
  z-index: -1;
}
@media (max-width: 600px) {
  .footer-content__data {
    margin: 0 auto;
  }
}

.contacts__content a {
  text-decoration: none;
  color: #F1CDB3;
  padding-left: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
}

.header-content {
  max-width: 1200px;
  height: 60px;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  z-index: 30;
}
@media (max-width: 1024px) {
  .header-content {
    max-width: 944px;
  }
}
@media (max-width: 768px) {
  .header-content {
    max-width: 708px;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 53px;
    margin-bottom: 60px;
  }
}
@media (max-width: 280px) {
  .header-content {
    max-width: 708px;
    margin-left: 10px;
    padding: 30px 0px;
    margin-right: 30px;
  }
}

ul.header-content__menu {
  display: flex;
}
ul.header-content__menu li {
  margin-left: 35px;
}
@media (max-width: 746px) {
  ul.header-content__menu {
    display: none;
  }
}

ul.header-content__menu li {
  list-style: none;
}
ul.header-content__menu li.active {
  border-bottom: solid 3px #F1CDB3;
}
ul.header-content__menu li a {
  text-decoration: none;
  transition: all 0.5s ease;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400px;
  color: #CDCDCD;
  font-size: 1.5em;
  line-height: 2.4em;
  font-style: normal;
}
@media (max-width: 360px) {
  ul.header-content__menu {
    display: none;
  }
}

.header-content__subtitle {
  padding-top: 10px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  letter-spacing: 10%;
}

.header-ourpet {
  max-width: 1200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  padding: 30px 0;
}
@media (max-width: 820px) {
  .header-ourpet {
    padding: 30px 20px;
  }
}
@media (max-width: 768px) {
  .header-ourpet {
    max-width: 708px;
  }
}
@media (max-width: 746px) {
  .header-ourpet {
    max-width: 708px;
    margin-left: 10px;
    margin-right: 50px;
  }
}
@media (max-width: 280px) {
  .header-ourpet {
    max-width: 708px;
    margin-left: 10px;
    padding: 30px 0px;
    margin-right: 30px;
  }
}

.header-ourpet__title_black {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.2em;
  color: #545454;
  letter-spacing: 6%;
}

.header-ourpet__subtitle_black {
  padding-top: 10px;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3em;
  color: #292929;
}

.header-ourpet__menu {
  display: flex;
}
.header-ourpet__menu li {
  margin-left: 35px;
}
@media (max-width: 746px) {
  .header-ourpet__menu {
    display: none;
  }
}

ul.header-ourpet__menu li {
  list-style: none;
}
ul.header-ourpet__menu li.active-ourpet {
  border-bottom: solid 3px #F1CDB3;
}
ul.header-ourpet__menu li.active-ourpet a {
  color: #292929;
}
ul.header-ourpet__menu li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400px;
  color: #545454;
  font-size: 1.5em;
  line-height: 2.4em;
  font-style: normal;
}
@media (max-width: 360px) {
  ul.header-ourpet__menu li {
    display: none;
  }
}

.active {
  color: #292929;
}

.wrap {
  margin: 0 auto;
  width: 1280px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content__logo {
  text-align: right;
}

.header-ourpet__logo {
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
