footer {
    background: $footer-background;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 56px;
    @media (max-width: 1024px) {
        max-width: 944px;
    }
    @media (max-width: 930px) {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 708px;
        padding-top: 30px;
        margin: 0 auto;
    }
    @media (max-width: 280px) {
        img {
            max-width: 260px;

        }
    }
}

.footer-content__contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 278px;
    height: 234px;
    @media (max-width: 930px) {
       margin-bottom: 40px; 
    }
    @media (max-width: 600px) {
        max-width: 278px;
        height: 208px;
        text-align: center;
     }
}

.footer-content__locations {
    width: 302px;
    height: 234px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (max-width: 930px) {
        padding-left: 60px;
    }
    @media (max-width: 660px) {
        padding-left: 0px;
        margin-bottom: 40px;
    }
    @media (max-width: 600px) {
        text-align: center;
        max-width: 300px;
        height: 222px;
        margin-bottom: 40px;
        padding-left: 0px;
     }
}

.footer-content__data {
    display: flex;
    a {
        display: inline-block;
        position: relative; 
        z-index: 1;
        span {
            display: inline-block;
            object {
                position: relative; 
                z-index: -1
            }
        }
    }
    @media (max-width: 600px) {
        margin: 0 auto;
    }
}

.contacts__content{
    a {
        text-decoration: none;
        color: $color-primary;
        padding-left: 20px;
        font-family: $family-main;
        padding: 0;
        margin: 0;
    }
}